[project]
	description = Web application to arrange a set of articles in a journal
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/studero
[access "refs/for/refs/*"]
	read = group user/studero
	push = group user/studero
	label-Code-Review = -2..+2 group user/studero
	label-Verified = -1..+1 group user/studero
	rebase = group user/studero
	removeReviewer = group user/studero
	submit = group user/studero
[access "refs/heads/*"]
	read = group user/studero
	create = group user/studero
	push = +force group user/studero
	pushMerge = group user/studero
[access "refs/tags/*"]
	push = +force group user/studero
	pushTag = group user/studero
	pushSignedTag = group user/studero
